/* --------------------------Global Resets------------------------ */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
p,
figure {
  margin: 0;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}
img{
  max-width: 100%;
  display: block;
}

/* --------------------------Utility Component------------------------ */
@font-face {
  font-family: regular;
  src: url(Fonts/IBMPlexSans-Regular.ttf);
  format("truetype");
}
@font-face {
  font-family: semibold;
  src: url(Fonts/IBMPlexSans-Bold.ttf);
  format("truetype");
}
:root {
  --font-family-titile: semibold;
  --font-family-body: regular;
  --blue: #66e2dc;
  --orange: #fa7453;
  --yelow-orange: #ffb964;
  --white: #fcfaf9;
  --dark-purple: #191826;
  --fontsize-p: clamp(1rem, 1vw + 0.75rem, 1.25rem);
  --fontsize-title: clamp(2.75rem, 5vw + 1rem, 5.5rem);
  --padding-p: --space-s: clamp(1.25rem, calc(1.13rem + 0.60vw), 1.88rem);
}

body{
  background-image: url(Images/bg-main-desktop.png);
  /* background-repeat: no-repeat;
  background-position: -1rem -12.5rem ; */
  background-repeat: no-repeat;
  background-position: -15rem -12.5rem;
  color: var(--dark-purple);
  text-align: left;
  }

/* ------------------------- Upper Container ------------------------------ */

.upper-cnt{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 1fr 200px 500px;
}
.content-cnt{
  grid-column: 2/10;
  grid-row: 1/2;
}

.logo{
  width: 9.125rem;
  margin-top: 3.8125rem;
}
.product-discription{
  font-size: var(--fontsize-p);
  font-family: var(--font-family-body);
  width: 90%;
  margin-top: 2.5rem;
  margin-bottom: 13.75rem;
}

.main-heading{
  font-size: var(--fontsize-title);
  line-height: 1;
  margin-top: 5.4375rem;
  font-family: var(--font-family-titile);
  position: relative;
}

.pattern-one{
  width: 19.5rem;
  height: 29.25rem;
  position: absolute;
  top:-40px;
  right:0
}
@media screen and (max-width: 1180px) {
  .pattern-one{
    width: 13.75em;
    height: auto;
  }
  
}

.app{
  width: 19.5rem;
  grid-column: 3/6;
  grid-row: 2/3;
  z-index: 1;
}

.pattern-two-background{
  border-radius: 10px;
  background-color: var(--dark-purple);
  grid-column: 2/12;
  grid-row: 3/4;
}

.pattern-two{
  width: 19.5rem;
  height: 29.25rem;
  margin-left: 25vw;
}

/* ------------------------- Bottom Container ------------------------------ */










/* ------------------------- Footer ------------------------------ */