/* --------------------------Global Resets------------------------ */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
p,
figure {
  margin: 0;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}
img{
  max-width: 100%;
  display: block;
}

/* --------------------------Utility Component------------------------ */
@font-face {
  font-family: regular;
  src: url(Fonts/IBMPlexSans-Regular.ttf);
  format("truetype");
}
@font-face {
  font-family: semibold;
  src: url(Fonts/IBMPlexSans-Bold.ttf);
  format("truetype");
}
:root {
  --heading-font: semibold;
  --body-font: regular;
  --blue: #66e2dc;
  --orange: #fa7453;
  --yelow-orange: #ffb964;
  --white: #fcfaf9;
  --dark-purple: #191826;
}

body{
  background-image: url(Images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: -1rem -12.5rem ;
  /* background-repeat: no-repeat;
  background-position: -15rem -12.5rem; */
  color: var(--dark-purple);
  text-align: left;
  }

/* ------------------------- Typography ------------------------------ */

/* H1 = 88px     -1px line
   H2 = 40px     52px line
   Body1 = 20px   34px line
   Body2 = 16px    26px line*/


/* ------------------------- Section One Container ------------------------------ */

.content-cnt{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  width: 89%;
  margin: 0 auto;
}

/* ------------------------- Section One Styles --------------------------- */
.logo{
  margin-bottom: 2.75rem;
  margin-top: 2.5rem;
  align-self: flex-start;
}

.main-heading{
  font-size: 2rem;
}

.Second-Heading{
  font-family: var(--heading-font);
  font-size: 2.5rem;
}

.product-discription{
font-size: 1rem;
font-family: var(--body-font);
line-height: 1.625rem;
}

/* ------------------------- Section two Container ------------------------------ */

.mid-cnt{
  height: 70vh;
  display: flex;
  align-items: center;
  position: relative;
}

/* ------------------------- Section two Sytles ------------------------------ */

.box-one{
  width: 100%;
  border-radius: .625rem;
  height: 25rem;
  background-color: var(--dark-purple);
}
.app {
  width: 13rem;
  position: absolute;
  bottom: 25%;
  left: 20%;
}
.btm-background{
  position: absolute;
  width: 17.5rem;
  left:10%;
}

/* ------------------------- Section three Container ------------------------------- */

/* .btm-cnt{
  height: 50vh;
  display: flex;
  align-items: center;
  position: relative;
} */

.box-cnt{
  width: 100%;
  border-radius: .625rem;
  background-color: var(--orange);
  height: 25rem;
  color: var(--white);
}

.apple-cnt, .andrioid-cnt{
  display: flex;
  gap:.625rem;
  align-items: center;
}





/* ------------------------------ Section three Styles ------------------------------- */

.btm-header{
  font-size: 2rem;
}
.btm-content{
  font-size: 1.125rem;
}
.amount{
  font-size: 4.0625rem;
}
.amount-month{
  font-size: 1.25rem;
}





























/* .upper-cnt{
  display: flex;
  flex-direction: row-reverse;
  height: 66.91919191919192vh;
  justify-content: space-between;
}
.content-cnt{
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-left: 10.3125em;
}
.pattern-one-cnt{
  width: 25%;
}

.pattern-one{
  width: 19.5rem;
}

.main-heading {
  font-size: 2rem;
  padding-top: 3.8125rem;
}
.second-heading {
  font-size: 5.5rem;
  padding-top: 5.4375rem;
  width: 90%;
}
.product-discription{
  font-size: 1.25rem;
  width: 80%;
}

/* ------------------------- Section Two Content ------------------------------ */

.box-cnt{
  display: flex;
  justify-content: center;
}

.color-box{
  width: 1110px;
  height: 600px;
  background-color: var(--dark-purple);

} */